body,html{
    height: 100%;
 }
 body {
    background: #9100da;   
    font-family: 'Montserrat', sans-serif;
  }
  .wrapper{
    background: linear-gradient(135deg, rgb(104, 43, 226), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .user-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #fff;
     border-radius: 10px;
     padding: 40px;
     width: 650px;
     position: relative;
     overflow: hidden;
     box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
 }
  
 .user-card:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 173px;
    background: #262626;
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
  }
  
  .user-card-img {
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 3;
  }
  
  .user-card-img img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }
  
  .user-card-info {
    text-align: center;
  }
  
  .user-card-info h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .user-card-info p {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .user-card-info p span {
     font-weight: 700;
     margin-right: 10px;
 }
  @media only screen and (min-width: 768px) {
    .user-card {
      flex-direction: row;
      align-items: flex-start;
    }   
    .user-card-img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .user-card-info {
      text-align: left;
    }
  }
 
  @media (max-width: 767px){
    .wrapper{
       padding-top: 3%;
    }
    .user-card:before {
       width: 300%;
       height: 200px;
       transform: rotate(0);
    }
    .user-card-info h2 {
       margin-top: 25px;
       font-size: 35px;
    }
    .user-card-info p span {
       display: block;
       margin-bottom: 15px;
       font-size: 18px;
    }
  }
  
  

  *, *::before, *::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 1.3rem;
}
.wrapper1 {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}
header {
	background: transparent;
	padding: 1em 0;
	text-align: center;
	position: absolute;
	width: 100%;
}
.nav1 {
	width: 100%;
}
.nav-toggle1 {
	cursor: pointer;
	border: 0;
	width: 3rem;
	height: 3rem;
	padding: 0em;
	background: transparent;
	color: white;
	transition: opacity 250ms ease;
	position: absolute;
	right: 0;
}
.nav-toggle1:focus, .nav-toggle1:hover {
	opacity: 0.75;
}
.icon-area1 {
	width: 50%;
	position: relative;
}
.icon-area1, .icon-area1::before, .icon-area1::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}
.icon-area1::before, .icon-area1::after {
	content: "";
	width: 100%;
}
.icon-area1::before {
	transform: translateY(-6px);
}
.icon-area1::after {
	transform: translateY(3px);
}
.nav1 {
	visibility: hidden;
	height: 0;
	position: absolute;
}
.nav1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav1 ul li a {
	color: #fff;
	text-decoration: none;
}
.openMenu1 {
	visibility: visible;
	height: auto;
	position: relative;
}
.logo1 {
	text-decoration: none;
	color: #fff;
	font-family: bebas neue;
	text-transform: uppercase;
	font-size: 40px;
}
@media (min-width: 800px) {
	.nav-toggle1 {
		display: none;
	}
	.nav1 {
		visibility: visible;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: auto;
		position: relative;
	}
	.nav1 ul {
		margin: 0;
		display: flex;
		justify-content: space-between;
	}
	.nav1 ul li {
		margin: 0 0 0 1.5rem;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.banner1 {
	background: linear-gradient(135deg, blueviolet, transparent), url(MyProject/img/peizaj.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center center;
	display: grid;
	place-items: center;
	text-align: center;
}
.content1 {
	margin-top: 0;
}
.content1 h2 {
	margin: 0;
	font-family: 'Alfa Slab One', cursive;
	font-size: 65px;
	color: #fff;
}
.banner1 p {
	margin: 0;
	color: #fff;
}
.banner1 a {
	text-decoration: none;
	background: #fff;
	color: #000;
	padding: 10px 25px;
	border-radius: 50px;
	display: inline-block;
	margin-top: 15px;
}
@media (max-width:991px) {
	.nav1.openMenu1 {
		padding: 30px 0;
		background: rgba(0, 0, 0, 0.8);
		margin-top: 20px;
	}
	.nav1.openMenu1 a {
		line-height: 2.5;
	}
}
@media (max-width: 600px) {
	.openMenu1 {
		padding: 5px 0;
		background: rgba(0, 0, 0, 0.8);
	}
	.openMenu1 a {
		color: #fff;
		font-size: 16px;
	}
	.content1 h2 {
		font-size: 35px;
	}
	.banner1 {
		background-position: 80%;
	}
	.logo1 {
		font-size: 40px;
	}
	.nav1 ul li {
		margin: 5px 0;
	}
	.content1 h2 {
		font-size: 35px;
	}
}
