.sub_block.new_dex {
    background-position: center center;
    background-repeat: no-repeat;
    /* background-image: url(../img/last.png); */
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .sub_block.new_dex .form_sub {
    background-color: rgba(39, 61, 70, 0.902);
    width: 670px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .sub_block.new_dex .form_sub .title {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.875;
   }
   .sub_block.new_dex .form_sub .inputs {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sub_block.new_dex .form_sub .inputs input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 247, 244);
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 454px;
    top: 4158px;
    width: 251px;
    height: 30px;
    outline: none;
    color: #fff;
    padding: 10px;
   }
   .sub_block.new_dex .form_sub button {
    border-radius: 22px;
    background-color: rgb(128, 183, 179);
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    margin-top: 20px;
    width: 232px;
    height: 44px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
   }
   
   a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
   }
   a:hover{
    color: lightblue;
   }